* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1rem;
}

.tab-group::part(active-tab-indicator) {
  --indicator-color: white;
}

a {
  text-decoration: none;
  color: lightblue;
}
